<ul *ngIf="smapMeta">
  <li *ngFor="let level of smapMeta.levels; let i = index;">
    <app-grouped-sidebar-element *ngIf="level.members; else elseBlock" [levelData]="level" [parentIndex]="'|' + i"></app-grouped-sidebar-element>
    <ng-template #elseBlock>{{level.name}}</ng-template>
  </li>
</ul>