.monthlyLink {
    color: lightskyblue;
    cursor: pointer;
    user-select: none;
}

.monthlyLink:hover {
    color: blue
}

.normalLink {
    color: lightskyblue;
    cursor: pointer;
    user-select: none;
}

.normalLink:hover {
    color: blue
}

.activeLink {
    color: blue
}

