<ul>
  <li *ngFor="let month of months()"><h5 class="monthlyLink" (click)="mSelect(month)">{{MonthTranslator[month]}}</h5>
    <ul>
        <li *ngFor="let blogPost of monthlyData[month]" ><p class="normalLink" (click)="select(blogPost)" >{{blogPost.title}}</p></li>
    </ul>
  </li>
</ul>