<div class="row">
    <div class="col-md-8">
        <app-story-map-display [storyMap]="smap"></app-story-map-display>
    </div>
    <div class="col-md-4">
        <h3>All posts</h3>
        <app-story-map-sidebar></app-story-map-sidebar>
    </div>
</div>