<div [ngClass]="{hiddenElement: parentCollapse}">
  <h6 (click)="toggleCollapse()" class="clickable normalLink">
    {{isCollapsed ? "+ " : "- "}}{{levelData.name}}
  </h6>
  <div [ngClass]="{hiddenElement: !levelData.isCollapsed}">
    <ul>
      <li *ngFor="let item of levelData.members; let i = index;">
        <span *ngIf="item.members === undefined; else elseBlock">{{item}}</span>
        <ng-template #elseBlock>
          <app-grouped-sidebar-element [levelData]="item" [parentIndex]=" parentIndex + '|' + i"></app-grouped-sidebar-element>
        </ng-template>
      </li>
    </ul>
  </div>
</div>