<div class="row">
  <div class="col-md-8">
    <h1>Welcome!</h1>
    <p>This is my personal website/portfolio. Here you can find everything I am working on, or have worked on.
      <br>
    </p>
    <div role="tablist" id="accordion-1">
      <div class="card">
        <div class="card-header" role="tab">
          <h5 class="mb-0">
            <a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-1" href="div#accordion-1 .item-1">Novels</a>
          </h5>
        </div>
        <div class="collapse show item-1" role="tabpanel" data-parent="#accordion-1">
          <div class="card-body">
            <p class="card-text">I am an avid reader and writer, lover of high fantasy and more complex themed stories.</p>
            <p>I try to bring that love to my novels. I publish them one chapter at a time, so you can have access up until
              it is finished, and I can have feedback as I go.&nbsp;</p>
            <p>Currently I am writing Book Hunters, a novel about magic, set in the far future.</p>
            <p>All my work is published on wattpad - see the links on the footer.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab">
          <h5 class="mb-0">
            <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2" href="div#accordion-1 .item-2">Apps</a>
          </h5>
        </div>
        <div class="collapse item-2" role="tabpanel" data-parent="#accordion-1">
          <div class="card-body">
            <p class="card-text">You can find my apps here as well. In addition to being an addict to books and writing, I too am an adict to
              gaming and programming. At the moment, I have 4 complete projects (3 with constant updates).</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab">
          <h5 class="mb-0">
            <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-3" href="div#accordion-1 .item-3">Blog</a>
          </h5>
        </div>
        <div class="collapse item-3" role="tabpanel" data-parent="#accordion-1">
          <div class="card-body">
            <p class="card-text">Guess what this is? Its a blog. Where I post stuff. Like, in a blog.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>Recent</h3>
    <app-news-container [newsList]="news"></app-news-container>
  </div>
</div>
