<div class="postOrganizer">
  <ul>
    <li *ngFor="let year of years()">
      <h4 class="yearLink" (click)="yearSelect(year)">{{year}}</h4>
      <app-monthly-organizer [monthlyData]="yearlyPosts[year]" [year]="year"></app-monthly-organizer>
    </li>
  </ul>
</div>