<h3>Curriculum Vitae</h3>
<br>
<h4>Basic Information</h4>
<hr>
<ul>
  <li><strong>Full Name</strong>: João Pedro da Conceição Marques</li>
  <li><strong>Year of Birth</strong>: 1994</li>
</ul>

<h4>Description</h4>
<hr>
<p>I am an enthusiastic and proactive developer, with a focus on a high learning potential and adaptability. I am capable of achieving great results within only a few days
  of learning a new language, delivering high quality code and continuously improving my understanding and capabilities in that regard.
</p>

<p>
  As a principle, I believe in constant improvement. Every day, I must be somehow better as a person and as a professional than I was the day before. If not,
  then I have failed from my point of view. As such, I take steps towards that goal every day, striving to improve myself and always being open to improvement, soaking in
  criticism and using it as a means of evolution.
</p>

<p>
  As a professional developer, I focus on creating code with a high adaptability (if possible due to time constraints), typically coding something generic <i>first</i>,
  and then adapting to the current issue, if there is any gain in doing so; if the code cannot apply to other situations, then it is not worth taking the time and effort to make it
  generic. Regardless, the code I strive to make easily maintainable and understood code.
</p>

<h4>Skillset</h4>
<hr>

<p><strong>++</strong> - highly proficient</p>
<p><strong>+</strong> - proficient</p>
<p><strong>+-</strong> - used before, but not often</p>
<div class="row">
  <div class="col-md-6">
      <div class="table-responsive">
          <table class="table">
              <thead>
                  <tr>
                      <th>Programming Language/Framework</th>
                      <th>Skill level</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Java</td>
                      <td>++</td>
                  </tr>
                  <tr>
                      <td>C#/.NET</td>
                      <td>++</td>
                  </tr>
                  <tr>
                      <td>Node.js</td>
                      <td>++</td>
                  </tr>
                  <tr>
                      <td>Angular 5+6</td>
                      <td>++</td>
                  </tr>
                  <tr>
                      <td>JS + JQuery + HTML + CSS</td>
                      <td>++</td>
                  </tr>
                  <tr>
                      <td>Ruby</td>
                      <td>+</td>
                  </tr>
                  <tr>
                      <td>Python</td>
                      <td>+-</td>
                  </tr>
                  <tr>
                      <td>LISP</td>
                      <td>+-</td>
                  </tr>
                  <tr>
                      <td>C</td>
                      <td>+-</td>
                  </tr>
                  <tr>
                      <td>C++</td>
                      <td>+-</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  <div class="col-md-6">
      <div class="table-responsive">
          <table class="table">
              <thead>
                  <tr>
                      <th>Technology</th>
                      <th>Skill level</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Git</td>
                      <td>++</td>
                  </tr>
                  <tr>
                      <td>Angular CLI</td>
                      <td>++</td>
                  </tr>
                  <tr>
                      <td>NPM</td>
                      <td>++</td>
                  </tr>
                  <tr>
                      <td>Android SDK</td>
                      <td>++</td>
                  </tr>
                  <tr>
                      <td>Firebase (including Firestore)</td>
                      <td>++</td>
                  </tr>
                  <tr>
                      <td>Jekyll</td>
                      <td>+</td>
                  </tr>
                  <tr>
                      <td>Maven</td>
                      <td>+</td>
                  </tr>
              </tbody>
          </table>
          <br>
          <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Language</th>
                        <th>Skill level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>English</td>
                        <td>CEFR level C2</td>
                    </tr>
                    <tr>
                        <td>Portuguese</td>
                        <td>Native</td>
                    </tr>
                    <tr>
                        <td>Spanish</td>
                        <td>CEFR level A2</td>
                    </tr>
                </tbody>
            </table>
          </div>
      </div>
  </div>
</div>
<br>

<div class="pbreak"></div>
<h4>Work experience</h4>
<hr>

<h5>.NET Developer</h5>
<h6><a href="https://www.linkedin.com/company/237082/">RUPEAL</a></h6>
<p><span style="float:right">apr 2017 - now</span></p>
<p>Placed at Accenture, developing projects with different technology stacks:</p>
<ul>
    <li><strong>.NET:</strong>Customizing Click Softwate Field Force Management Platforms using C#, ScriptSharp and XML Integration with Legacy Systems.</li>
    <li><strong>NodeJS, Angular 5 + ngRx:</strong>Development of a platform for automatic pdf document generation.</li>
</ul>
<br>


<h5>Node and AngularJS Developer</h5>
<h6><a href="https://www.linkedin.com/company/3780787/">Accenture Portugal</a></h6>
<p><span style="float:right">jan 2018 - feb 2018</span></p>
<br>
<p>Development of a platform for automatic pdf document generation, notably using NodeJS, Angular5 and rxjs</p>
<br>

<h5>.NET Developer</h5>
<h6><a href="https://www.linkedin.com/company/3780787/">Accenture Portugal</a></h6>
<p><span style="float:right">apr 2017 - jan 2018</span></p>
<br>
<p>Customizing Click Softwate Field Force Management Platforms using C#, ScriptSharp and XML Integration with Legacy Systems.</p>
<br>

<h5>Android Developer</h5>
<h6><a href="https://www.linkedin.com/company/9362518/">boomApp</a></h6>
<p><span style="float:right">jul 2015 - feb 2016</span></p>
<br>
<p>Development of the "boomApp" application for Android, meant to showcase the company's revolutionary image and video processing capabilites.</p>

<p>Main responsabilities included development of the frontend of the app, communicating with company's proprietary technology and pre-processing media in preparation
  of backend processing.
</p>
<br>

<br>
<h4>Education & Certificates</h4>
<hr>

<br>
<h5><a href="https://fenix.tecnico.ulisboa.pt/cursos/leic-a">Undergraduate in Computer Science and Engineering</a></h5>
<h6>@<a href="https://tecnico.ulisboa.pt/">Instituto Superior Técnico de Lisboa</a></h6>
<br>

<h5>Certificate of Proficiency in English</h5>
<h6>Issued by the <a href="https://www.britishcouncil.pt/en">British Council</a></h6>
<br>

<div class="pbreak"></div>
<br>
<h4>Personal Projects</h4>
<hr>

<h5>IFBCompanion</h5>
<h6><a href="https://play.google.com/store/apps/details?id=jpcmarques.rsappmodules.pvm.ifbcompanion">Google Play</a></h6>
<br>
<p>IFBCompanion is a simple app for <a href="https://www.runescape.com/">Runescape</a>, to aid in the grind for the "Insane Final Boss" title (IFB for short), which consists in getting 100 kills in each boss (regular and hard modes) and all their respective pets.<br/><br/>The application is quite straightforward: lets you pick which bosses you don't want to kill, which bosses you want to kill more (just like a <a href="http://runescape.wikia.com/wiki/Slayer_reward_point#Assignment">slayer task</a>), and then assigns you one  at random based on those parameters (preferred bosses have a higher chance of being picked).<br/><br/>The utility of this app comes from the fact that a lot of pets are quite frankly a pain in the ass to get (due to bosses  being extremely boring, having near to zero value of drops or being straight up horrid for some people), and this app will assign such bosses with lower probability, so that you still kill the ones you like, but don't end up with having to  only kill said cancerous bosses (after having cleared all the requirements from the ones you like).</p>
<br>

<h5>Insane Final Bot</h5>
<h6><a href="https://github.com/JPCMarques/IFBot">Source code</a></h6>
<br>
<p>Twitch bot for Runescape streamers looking to engage their community in their stream program decision process, through usage of votes and other mechanics.</p>
<br>

<h5>IFBCompanion Webapp</h5>
<h6><a href="https://jpcmarques.github.io/IFBCompanion/">Webapp</a></h6>
<br>
<p>Web app for achieving Insane Final Boss (IFB) title in the MMORPG Runescape, which implies killing (tens of) thousands of bosses. <br/> The app aims to reduce the pain of doing this (some bosses are extremely boring) by introducing a weighed random factor, fully customizable by the user.</p>
<br>

<h5>Personal Website</h5>
<h6><a href="https://jpcmarques.github.io/">Website</a></h6>
<br>
<p>My website, meant to showcase my projects, novels and blog. It is fully developed and maintained by me, serving by itself as a showcase of my capabilities.</p>
<br>

<h4>Contacts</h4>
<hr>

<p>I can be reached mainly through my email: joaopcmarques@outlook.com. Depending on the kind of communication that arises, I will provide other, more personal, contacts.</p>