<div>
  <div class="row">
      <div class="col">
          <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="font-family:'Open Sans';">
              <div class="container"><a class="navbar-brand" routerLink="/" style="font-size:xx-large;">Home</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                  <div class="collapse navbar-collapse" id="navcol-1">
                      <ul class="nav navbar-nav ml-auto">
                          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/novels">Novels</a></li>
                          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/apps">Apps</a></li>
                          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/blog">Blog</a></li>
                      </ul>
                  </div>
              </div>
          </nav>
      </div>
  </div>
</div>