<!--The content below is only a placeholder and can be replaced.-->

<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-footer></app-footer>