<div class="row">
    <div class="col-md-12">
        <h2>About me</h2>
        <p>I am an enthusiatic 23 year old developer, currently expanding my knowledge in a vast array of technologies in order to masterfully use them.</p>
        <p>I created this website with two objectives in mind:</p>
        <h4>Improving my skills and hosting my work</h4>
        <p>As I am doing 100% of the website myself, everything the development process entails, from the design to the coding, has granted me an unique learning oportunity as I experiment with different technologies a designs (as difficult and
            frustrating as it may be).</p>
        <p>In my college, there isn't a lot of focus on web based technologies, unless I want to&nbsp;<em>waste</em>&nbsp;two years of my life pursuing a master's - I strongly disagree with the paradigm of teaching that inhibits my potential(projects
            are either painfully pointless or borderline brain-dead easy enough to be pointless - with some exceptions) and stunts my growth as a professional.&nbsp;</p>
        <p>Do not get me wrong, I do understand the purpose of college and how it <strong>is</strong>&nbsp;useful - just not for me. For most people, it allows them to grow as professional. For me? Its way too slow and innocuous to be worth the
            effort - even though I have a Bachelor's.&nbsp;</p>
        <p>This site is a way for me to both expand and showcase my knowledge of various technologies - not just web-based ones.<br></p>
        <p>In addition to the above, this site is a way for me to publish my novels in a personal space, that grows with them.</p>
        <a routerLink="cv"><h5>CV</h5></a>
        <h3>Contacts</h3>
        <p>You can reach me through the following means:</p>
        <ul>
            <li><a href="https://www.linkedin.com/in/jo%C3%A3o-marques-b06199aa/">LinkedIn</a></li>
            <li><a href="https://github.com/JPCMarques/">Github</a></li>
        </ul>
        <p>Further contact will be provided as requested from the links above. Social media links are down below (at the footer).</p>
    </div>
</div>