<div class="row">
    <div class="col-md-8"><router-outlet></router-outlet></div>
    <div class="col-md-4">
        <h3>All posts</h3>
        <app-post-organizer></app-post-organizer>
    </div>
</div>