/* You can add global styles to this file, and also import other style files */
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }

    .pbreak {
        page-break-before: always;
    }
}

.fakeLink {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

p {
    text-align: justify;
    text-justify: auto;
}

.clickable {
    cursor: pointer;
    user-select: none;
}

.normalLink {
    color: lightskyblue;
    cursor: pointer;
    user-select: none;
}

.normalLink:hover {
    color: blue
}

.activeLink {
    color: blue
}

.hiddenElement {
    display: none
}