<div class="footer-basic no-print" >
		<div class="footer-basic">
				<footer>
						<div class="social"><a href="https://www.wattpad.com/user/joaopcmarques"><img src="assets/img/1TXrNThO2LkhAKeHcjPHWw-Wattpad_Logo_orange[1].jpg" style="width:25px;padding-bottom:10px;"></a><a href="https://twitter.com/_jpcmarques"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
						<ul
								class="list-inline">
								<li class="list-inline-item"><a routerLink="">Home</a></li>
								<li class="list-inline-item"></li>
								<li class="list-inline-item"><a routerLink="/about">About</a></li>
								</ul>
								<p class="copyright">JPCMarques © 2017</p>
				</footer>
		</div>
</div>