<div class="row">
    <div class="col-md-8">
        <h1>Novels</h1>
        <div *ngFor="let novel of novels" [innerHTML]="novel"></div>
    </div>
    <div class="col-md-4">
        <h3>Recent Updates</h3>
        <app-news-container [newsList]="news"></app-news-container>
    </div>
</div>