<!-- <div [innerHTML]="formattedHtml | safeHtml"></div> -->

<ol class="breadcrumb">
    <li [ngClass]="{'breadcrumb-item': true, clickable: i < smapStack.length - 1, normalLink: i < smapStack.length - 1}" *ngFor="let storyMap of smapStack; let i = index"
        (click)="breadCrumbsNavigate(i)">{{storyMap.title}}</li>
</ol>

<div *ngIf="storyMap">
    <h1>{{storyMap.title}}</h1>
    <h3 class="text-muted mb-2">{{storyMap.descriptor}}</h3>
    <p>{{storyMap.content}}</p>
    <div *ngIf="storyMap.subLevels">

        <div *ngFor="let subLevel of storyMap.subLevels">
            <h3 class="text-muted">{{subLevel.id}}</h3>
            <div class="row">
                <div class="col-lg-3 clickable" style="margin-top: 5px; margin-bottom: 5px;" *ngFor="let member of subLevel.members" (click)="navigateToSubpage(member, subLevel.id)">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">{{member.title}}</h4>
                            <h6 class="text-muted card-subtitle mb-2">{{member.descriptor}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>